{% extends 'base_head.html' %}
{% block body %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'centerinfo' %}" {% if type == 'centerinfo' %}class="active"{% endif %}>· 个人信息</a></li>
				<li><a href="{% url 'center' %}" {% if type == 'center' %}class="active"{% endif %}>· 全部订单</a></li>
				<li><a href="{% url 'centersize' %} " {% if type == 'centersize' %}class="active"{% endif %}>· 收货地址</a></li>
			</ul>
		</div>
        {% block right_content %}

        {% endblock %}
    </div>
{% endblock %}

